<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  {{- partial "head.html" . -}}
</head>
<body>
  {{- partial "nav.html" . -}}
  {{- $isReeder := eq .Section "posts" -}}
  <div class="app{{ if $isReeder }} reeder-layout{{ else }} page-layout{{ end }}">
    {{- block "main" . }}{{- end }}
  </div>
  {{- if not $isReeder }}
  {{- partial "footer.html" . -}}
  {{- end }}
  {{- if $isReeder }}
  <script src="/js/app.js"></script>
  {{- end }}
  <script src="/js/site.js"></script>
</body>
</html>
