{{ define "main" }}
<div class="page-content">
  <h1 class="page-title">{{ .Title }}</h1>
  {{- with .Content }}
  <div class="article-body prose" style="margin-bottom: 32px;">
    {{ . }}
  </div>
  {{- end }}
  {{- if .Pages }}
  <ul class="home-list">
    {{- range .Pages }}
    <li>
      <a href="{{ .RelPermalink }}">
        <span class="title">{{ .Title }}</span>
        <span class="date">{{ .Date.Format "Jan 2, 2006" }}</span>
      </a>
    </li>
    {{- end }}
  </ul>
  {{- end }}
</div>
{{ end }}
